body{
    color:#5F6368
}

.centre{
    text-align: center
}

#main-logo{
    padding: 200px 0 0 0
}

#mic-img{
    display: inline-block
}

#search-form{
    border-radius: 20px;
    background: url(assets/googlemic.png) no-repeat right ;
    background-size: 24px 24px;
    width: 414px;
    height: 34px;
}

#buttons{
    padding: 10px 0 0 0;
}

.searchbuttons{
    background-color: #f2f2f2;
    padding: 4px 16px;
    font-size: 14px ;
    border: none;
}